* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.925);
}

.template {
  width: 33.3333%;
  display: inline-block;
  border: 30px solid transparent;
}

.meme {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.template .meme:hover {
  height: 360px;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.582) 0px 7px 7px,
    rgba(248, 248, 248, 0.767) 0px 7px 7px;
}

h1 {
  width: 100%;
  min-height: 60px;
  background-color: rgba(0, 0, 0, 0.438);
  box-shadow: rgba(63, 64, 65, 0.363) 0px 7px 7px,
    rgba(124, 215, 221, 0.22) 0px 7px 7px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.678);
  /* font-family: 'Luckiest Guy', cursive; */
  font-size: 2rem;
  text-align: center;
  padding: 5px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.memebnao {
  text-align: center;
}

.memebnao img {
  width: auto;
  height: 400px;
  border: 1px solid black;
}

.btns {
  display: inline-block;
  margin-top: 1.5%;
}

.backbtn {
  /* float:left; */
  font-size: 20px;
  background: transparent;
  width: 100px;
  height: 45px;
  /* margin-right: 100px; */
  /* margin-top: 2%; */
  border-radius: 10px;
  color: rgb(139, 247, 16);
  background-color: blue;
  cursor: pointer;
}

input {
  width: 180px;
  height: 40px;
  margin-left: 10px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;
  color: rgb(139, 247, 16);
  font-size: 15px;
}

::placeholder {
  color: rgb(139, 247, 16);
  opacity: 0.5;
}

.generatebutton {
  margin-top: 7px;
  height: 45px;
  width: 150px;
  margin-left: 60px;
  background: transparent;
  font-size: 1.1rem;
  border-radius: 10px;
  color: rgb(139, 247, 16);
  background-color: blue;
  cursor: pointer;
}
