* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.925);
}

.template {
  width: 33.3333%;
  display: inline-block;
  border: 30px solid transparent;
}

/*
Added Navbar
*/
/* Navbar container */
.navbar {
  background-color: rgba(0, 0, 0, 0.925); /* Background color for the navbar */
  color: #fff; /* Text color */
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.678);
  align-items: center;
  padding: 20px 40px; /* Adjust padding as needed */
  box-shadow:rgba(63, 64, 65, 0.363) 0px 7px 7px,
  rgba(124, 215, 221, 0.22) 0px 7px 7px;; /* Add a subtle shadow */
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Logo style */
.logo {
 /* Adjust font size as needed */
  font-weight: bold;
  font-size: 2rem;
}

/* Navigation links style */
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px; /* Adjust spacing between links */
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px; /* Adjust font size as needed */
  transition: color 0.2s; /* Smooth color transition */
}

/* Hover effect for links */
.nav-links a:hover {
  color: #6fb7d7; /* Change color on hover */
  text-decoration: underline; /* Add an underline on hover */
}




.template .meme {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: all 0.3s; 
  border-radius: 5px;
}

.template .meme:hover {
  filter: grayscale(100%); /* Apply a grayscale effect on hover */
  transform: scale(1.05); /* Add a scale effect on hover */
}

h1 {
  width: 100%;
  min-height: 60px;
  background-color: rgba(0, 0, 0, 0.438);
  box-shadow: rgba(63, 64, 65, 0.363) 0px 7px 7px,
    rgba(124, 215, 221, 0.22) 0px 7px 7px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.678);
  /* font-family: 'Luckiest Guy', cursive; */
  font-size: 2rem;
  text-align: center;
  padding: 5px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.memebnao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.memebnao img {
  width: auto;
  height: 400px;
  border: 1px solid black;
}

.btns {
  display: inline-block;
  margin-top: 1.5%;
}

.backbtn {
  /* float:left; */
  font-size: 20px;
  background: transparent;
  width: 100px;
  height: 45px;
  /* margin-right: 100px; */
  /* margin-top: 2%; */
  border-radius: 10px;
  color: rgb(139, 247, 16);
  background-color: blue;
  cursor: pointer;
}

input {
  width: 180px;
  height: 40px;
  margin-left: 10px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;
  color: rgb(139, 247, 16);
  font-size: 15px;
}

::placeholder {
  color: rgb(139, 247, 16);
  opacity: 0.5;
}

.generatebutton {
  margin-top: 7px;
  height: 45px;
  width: 150px;
  margin-left: 60px;
  background: transparent;
  font-size: 1.1rem;
  border-radius: 10px;
  color: rgb(139, 247, 16);
  background-color: blue;
  cursor: pointer;
}


.footer {
  background-color: rgba(0, 0, 0, 0.925);
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}



/*Search bar*/

/* MemeSearch.css */
/* MemeSearch.css */
.meme-search {
  text-align: center;
  margin: 20px 0;
 
}

.mem {
  text-align: center;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
 
}

.search-input::placeholder {
  color: white;
}

.goback{
  border: none;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 20px;
}


/*About us page*/

.about-us {
  width: 100vw;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  height: 100vh;
  background-color:black;
  text-align: left;
  color: white;
  gap:20px;
}
.right{
  width:50%;
}
.left{
  width:50%;
}
.left img{
  width: 500px;
}

 h2 {
  font-size: 24px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

.about-us p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  gap:2px;
 
}

.pagination button{
  background-color: white;
  padding: 5px 5px;
  border:1px solid grey;
  border-radius: 2px;
  cursor: pointer;
}


/*Mobile responsive*/

@media (max-width: 768px) {
  .template {
    width: 100%; 
    border: 10px solid transparent; 
  }
  .navbar {
    width: 100%;;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 20px; 
  }
  .logo {
    display: none;
    font-size: 1.5rem; 
  }
  .nav-links li {
    margin-right: 10px; 
  }
  .generatebutton {
    margin-left: 10px;
  }
  .memebnao img {
    width: 100%; 
    height: auto; 
  }
  .backbtn {
    font-size: 16px; 
  }
  input {
    width: 100%; 
    height: 40px;
    margin-left: 0;
  }
  .pagination {
    margin-top: 10px;
    margin-bottom: 100px; 
  }
  .pagination button {
    padding: 3px 3px; 
  }
  .about-us {
    flex-direction: column; 
    align-items: center;
  }
  .left img {
    width: 100%; 
    max-width: 300px; 
    height: auto; 
  }
  h2 {
    font-size: 20px; 
  }
}




